
/* Had issues with the size of the carousel, 
solution: https://stackoverflow.com/questions/28589911/bootstrap-change-carousel-height  */
.carousel .carousel-item {
    height: 500px;
    width: 500px;  
  }
  
  .carousel {
      width:500px;   
  }

  img{
      padding-top: 50px;
  }
  
  .carousel-item img {
      position: absolute;
      object-fit:cover;
      top: 0;
      left: 0;
      min-height: 500px;
  }

    .homeItems{
        display: flex;
    }

    .borderLine{
        border-right: 6px solid green;
        margin-left: 190px;
    }