.App {
  text-align: center;
}

img{
  padding-bottom: 30px  ;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Adding font to be used */
/* https://www.w3schools.com/css/css3_fonts.asp */
@font-face {
  font-family: font;
  src: url(./styling/font.ttf);
}
input{
  text-align: center;
}

div {
  font-family: font;
}