.App {
  text-align: center;
}

.logo{
  padding-bottom: 30px  ;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Adding font to be used */
/* https://www.w3schools.com/css/css3_fonts.asp */
@font-face {
  font-family: font;
  src: url(./styling/font.ttf);
}
input{
  text-align: center;
}

/* Used to specify the font to be used by the website */
div {
  font-family: font;
}

/* Used for spacing of the contents displayed from the "no-plants" component */
.noPlants {
  justify-content: center;
  text-align: center;
  margin-top: 200px;
}

.waterList{
  height: 500px;
  overflow: auto;
  align-content: center;
  padding: 5%;  
}

/* Used to specify size of images for plants */
.thumbnails{
  height: 160px;
  width: 120px;
}

/* Used to add spacing between the buttons on the "My Plants" page */
.plantButton{
 margin-left: 5px;
}

.noneToWater{
  padding:50px;
  margin-left: 20px;
  margin-top: 20px;
}