/* APP COMPONENT */

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.logo{

  /* Problem: Logo wouldn't scale with window re-size
  Solution: https://www.geeksforgeeks.org/resize-image-proportionally-with-css/ */
  max-width: 100%;
  height: auto;
}

/* Adding font to be used */
/* https://www.w3schools.com/css/css3_fonts.asp */
@font-face {
  font-family: font;
  src: url(./styling/font.ttf);
}

/* / All input boxes will center text */
input{
  text-align: center;
}

/* Used to specify the font to be used by the website */
div {
  font-family: font;
}

/* Add padding to each image  */
img{
  padding-top: 50px;
}

/* Used for spacing of the contents displayed from the "no-plants" component */
.noPlants {
  justify-content: center;
  text-align: center;
  margin-top: 200px;
}


/* Used on contents in collection and user plants */
.row{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Used to specify size of images for plants for collection and user plants*/
.thumbnails{
  height:auto;
  width: auto;
  max-width: 174px;
  max-height: 174px;
  min-width: 67px;
  min-height: 67px;
}

/* MY PLANTS COMPONENT */
/* Adds spacing between the buttons */
.plantButton{
 margin-left: 5px;
}

/* NONE TO WATER COMPONENT */
.noneToWater{
  padding:5%;
}

/* READ TO WATER COMPONENT */
.readToWater{
  padding-top: 5%;
  padding-left: 5%;
}

/* HOME PAGE */

/* Had issues with the size of the carousel, 
solution: https://stackoverflow.com/questions/28589911/bootstrap-change-carousel-height  */
.carousel .carousel-item {
  min-height: 500px;
  min-width: 500px;  
}

.carousel {
    width:70%;   
}

.carousel-item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 500px;
}

/* Container which holds the slideshow and the list of plants to water */
  .homeItems{
      display: flex;
  }

  /* Adds a border between both divs of .homeItems */
  .borderLine{
      border-right: 6px solid green;
  } 

  /* Specifies width of the slideshow div to only take up half the page and adds a margin */
  .slideshow{
    width: 50%;
    margin-left: 7%;
  }

  
/* Ensures that the div only takes up half the screen, height needs to be specified so when items exceed this height, a scroll is added */
.waterList{
  height: 400px;
  width: 50%;
  overflow: auto; 
  padding: 5%;  
}